body {
    margin: 0;
    height: 100vh;
    font-family: helvetica; 
    letter-spacing: 0.01cm;
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    
    justify-content: center;
    align-items: center;
}

.main {
    margin-left: 40px;
}
.mail {
    height: 450px;
}
a {
    text-decoration:underline;
    color: rgb(0, 0, 0);
}

/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 730px) 
{
    .mail{
        max-width: calc(100vw - 60px);
        height: auto;
    }
}