body {
    margin: 0;
    font-family: helvetica; 
    letter-spacing: 0.01cm;
}
.main {
    width: calc(100vw - 40px);
    height: calc(100vh - 50px);
    font-family: helvetica; 
    letter-spacing: 0.01cm;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: start;
    align-content: right;
    align-items: center;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 12px;
    gap: 50px;
}

.row1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 50px;
}
.row2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.poster {
    display:block;
}
.video {
    object-fit: fill;
}
.thirdkulture {
    height: 562.5px;
}
.sindy_poster {
    height: 450px;
}
.IWD_poster {
    height: 562.5px;
}
.IWD_poster2 {
    height: 562.5px;
}
video::-webkit-media-controls {
    display: none !important;
}
video::-moz-media-controls {
    display: none !important;
}
video.no-controls {
    pointer-events: none;
}
.poster p {
    padding: 20px 5px 0 5px;
    width: 440px;
}

/* RESPONSIVE FOR MOBILE*/
@media screen and (max-width: 1000px) 
{
    .main {
        justify-content: start;
        flex-direction: column;
        gap: 0;
    
    }
    .poster {
        padding-top: 20px;
    }
}
@media screen and (max-width: 515px) 
{
    .poster {
        padding-top: 0;
    }
    .sindy_poster {
        max-width: calc(100vw - 60px);
        height: auto;
        margin: 0;
        padding: 10px 10px 0 10px;
    }
    .IWD_poster {
        max-width: calc(100vw - 60px);
        height: auto;
        margin: 0;
        padding: 10px 10px 0 10px;
    }
    .main p { 
        width: auto;
        font-size: 8px;
        padding: 0 10px 0 10px;
    }
}
