/*SCROLLBARS*/
html {
    overflow-y: overlay;
  }
*::-webkit-scrollbar {
    width: 0; 
    height: 0;
  }
  
/* BANNER */
.banner {
    background: rgb(255, 255, 255);
    z-index: 10;
}
.icon {
    position: fixed;
    top: 0;
    width: calc(35.555px + 11.111vw);
    height: 50px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-right: .5px solid rgb(0, 0, 0);
    border-bottom: .5px solid rgb(0, 0, 0);
    border-top: .5px solid rgb(0, 0, 0);
}
.logo {
    height: 45px;
}
.marquee {
    width: calc(100vw - 35.555px - 11.111%); 
    /* to align with the first column of the grid = full screen minus 40px [for vertical menu], minus 1 ninth of viewport width bc 1st column
    is 1fr [with 8fr remaining], then i took 4.444px from the 40px as i realised the grid size was acc 100vw-40px, then in fractions of that */
    height: 50px;
    position:fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: .5px solid rgb(0, 0, 0);
    border-top: .5px solid rgb(0, 0, 0);
  }
  .marquee p {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    top: 0;
    padding-left: 100%;
    animation: marquee 12s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }


/*RESPONSIVE FOR MOBILE*/
@media screen and (max-width: 730px) {
    .icon {
     width: calc(33.334px + 16.666%)
    }
    .marquee {
      width: calc(100vw - 33.334px - 16.666%)
    }
}



/* MENU SIDEBAR */
.vertical-menu {
    margin-top: 50px;
    display: grid;
    width: 40px;
    height: 100vh;
    grid-template-columns: 1;
    grid-template-rows: repeat(auto);
    position: fixed;
    top: 0;
    left: 0;
    gap: 0px;
    padding:0px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(255, 255, 255);
    z-index: 10;
}
.vertical-menu div {
    grid-column: 1;
    border-bottom: .5px solid rgb(0, 0, 0);
    border-right: .5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: grid;
    width: 40px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.b1 { grid-row: 1; min-height: 75px;}
.b3 { grid-row: 2; min-height: 95px;}
.b4 { grid-row: 3; min-height: 150px;}
.b5 { grid-row: 4; min-height: 135px;}
.b6 { grid-row: 5; min-height: 170px;}
.b7 { grid-row: 6; min-height: 150px;}

.vertical-menu div a {
    font-weight:500;
    transform: rotate(90deg);
    transform-origin: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap;
}

/* .vertical-menu div:hover {
    background-color: #575757; /* Background color on hover } */ 