body {
    margin: 0;
    font-family: helvetica; 
    letter-spacing: 0.01cm;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

/* CONTENT GRID */
 .main-content {
    margin-top: 50px;
    margin-left: 40px;
    display:grid;
    width: 100vw;
    height:auto;
    grid-template-columns: 1.25fr 2fr 6fr;
    grid-template-rows: repeat(5,auto);
    gap: 0px;
}
.main-content > div {
    border-right: .5px solid rgb(0, 0, 0);
    border-bottom: .5px solid rgb(0, 0, 0);
    box-sizing: border-box;
    display: grid; 
    max-height: 185px;
    align-content: center;
    position: relative;
    z-index: 2;
}

/* GRID SET-UP*/
.row1 { grid-row: 1; }
.row2 { grid-row: 2; }
.row3 { grid-row: 3; }
.row4 { grid-row: 4; }
.row5 { grid-row: 5;}
.column1 { grid-column: 1; }
.column2 { grid-column: 2; }
.column3 { grid-column: 3; }

/*CONTENT*/
.column1 {
    font-size: x-small;
    align-items: center;
    justify-content: right;
    padding: 10px;
    text-align: right;
}
.column2 {
    font-size: 8px;
    align-items: center;
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding:5px 10px 0 10px;
    
}
.blurb {
    overflow-y: scroll;
    box-sizing: border-box;
}
.software_box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    bottom: 0;
    text-wrap: nowrap;
    text-transform: uppercase;
}
.software_box p {
    border-top: .5px solid rgb(0, 0, 0);
    border-right: .5px solid rgb(0, 0, 0);
    padding: 3px;
    margin: 0;
}
.column3 { 
    grid-auto-flow: column;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;  
    gap: 5px;
    padding: 5px 0 5px 5px;
}
.image {
    position: relative;
    z-index: 1;
}
/* ROW 1 */ .sindy_poster {height: 175px;}
/* ROW 1 */ .CD {height: 125px;} .threeD_model {height: 175px;} .hop_sm {height: 75px;} .ar_sphere {height: 175px;} .inside_sphere {height: 175px} .bun_run {height: 100px;} .flipphone {height: 125px;}
/* ROW 2 */ .kafka_tv {height: 175px;} .weather_silver {height: 175px;} .screens{height: 175px;} .facial_rec {height: 175px;} .phone_inhand {height: 175px;} .screen {height: 175px;}
/* ROW 3 */ .blocks {height: 30px;} .exhibition_poster {height: 175px;} .face_poster {height: 175px;} .cherry_poster {height: 175px;}
/* ROW 4 */ .in_tex {height: 175px;} .banners {height: 175px;} .two_books {height: 175px;} .flat_cover {height: 175px;}
/* ROW 5 */ .doughnuts {height: 175px;}
/*.image:hover {
    transform: scale(1.2);
    padding: 10%;
}*/

/* RESPONSIVE FOR MOBILE,  TO REMOVE 2ND COLUMN */
@media screen and (max-width: 730px) 
{
    .main-content .column2 {
     display:none;
    }  
    .column3 {
        grid-column: 2;
    }
    .image {
        max-height: 175px;
    }
    .main-content {
        grid-template-columns: 1fr 5fr;
    }
}
