body {
    margin: 0;
    height: 100vh;
    font-family: helvetica; 
    letter-spacing: 0.01cm;
    display: flex;
    flex-direction:column;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

